@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
  margin-left: auto;
}

.link {
  color: inherit;
}

/*
a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}
.active {
  color: red;
}
*/